@{
    ViewData["Title"] = "Home Page";
}

<section class="home-index-section">
    <div class="text-center">
        <h1 class="display-4">Welcome to FinTrack!</h1>
        <h2 class="home-index-title-2">Your perfect financial tracker.</h2>
        <p class="home-index-description">Easy and intuitive application for accounting, income and expense control. All
            financial reporting is under full control, without unnecessary effort.</p>
        @* <ul class="">
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
    </ul> *@
    </div>
</section>