version: "3.9"

services:
  webapp:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: fintrack-webapp
    environment:
      # OTEL: назва сервісу
      - OTEL_SERVICE_NAME=fintrack-webapp
      # куди слати OTLP (метрики, трейси, логи)
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "8080:8080" # зовнішній 8080 -> внутрішній 8080
      - "8001:8001" # зовнішній 8001 -> внутрішній 8001
    networks:
      - observability
    depends_on:
      - otel-collector

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml:ro
    ports:
      - "4317:4317" # OTLP gRPC
      - "4318:4318" # OTLP HTTP (якщо раптом знадобиться)
      - "9464:9464" # Prometheus metrics endpoint
    networks:
      - observability
    depends_on:
      - zipkin
      - elasticsearch

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    networks:
      - observability

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - observability
    depends_on:
      - prometheus

  zipkin:
    image: openzipkin/zipkin:latest
    container_name: zipkin
    ports:
      - "9411:9411"
    networks:
      - observability

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.23
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    networks:
      - observability

  kibana:
    image: docker.elastic.co/kibana/kibana:7.17.23
    container_name: kibana
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    networks:
      - observability
    depends_on:
      - elasticsearch

networks:
  observability:
    driver: bridge
